.footer {
  clear: both;
  background: rgba(0, 0, 0, 0.3);
  min-height: 50px;
  padding: 0 10px;
  line-height: 50px;
  font-size: 16px; }
  .footer .muted a {
    color: #b7b7b7; }
  .footer p {
    margin-bottom: 0; }
