.header {
  background: white;
  height: 50px;
  line-height: 50px; }
  @media (max-width: 603px) {
    .header {
      height: 30px;
      line-height: 30px; } }
  .header .inner {
    max-width: 1000px;
    margin: 0 auto; }
  .header a, .header a:visited {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: #8b8b8b;
    text-decoration: none;
    margin-right: 10px; }
  .header a.navItem {
    padding: 0 25px; }
    @media (max-width: 603px) {
      .header a.navItem {
        padding: 0 10px; } }
  .header a.navItem:hover {
    text-decoration: underline;
    color: #363636; }
  .header img {
    margin-left: 25px;
    vertical-align: middle;
    margin-right: 10px; }
    @media (max-width: 603px) {
      .header img {
        margin-right: 3px;
        height: 20px; } }
  .header .socialLinks {
    float: right; }
    .header .socialLinks i {
      color: #8b8b8b;
      font-size: 30px;
      height: 50px;
      line-height: 50px; }
      @media (max-width: 603px) {
        .header .socialLinks i {
          height: 30px;
          line-height: 30px; } }
    .header .socialLinks a:hover .gfx-facebook {
      color: #3b5998; }
    .header .socialLinks a:hover .gfx-twitter {
      color: #00acee; }

.avatar {
  background-image: none; }
