.col3rds
  p
  |  All you have to do is play games.
  |  br
  |  It's just that simple.
  img(src="@@buildDir/images/home_page/about-graphics_01.png", alt="Game being played")

.col3rds
  p Our patented technology will decode your dominant personality traits, short-term cognitive processes, and your emotions.
  img(src="@@buildDir/images/home_page/about-graphics_02.png", alt="Personality Badges")

.col3rds
  p Based on your results, we can help empower your self-improvement.
  img(src="@@buildDir/images/home_page/about-graphics_03.png", alt="Self Improvement Map")
