extends layout

block append vars
  - bodyclass = 'aboutPage'

block content
  section.col3rds
    p All you have to do is play games.
      br
      | It's just that simple.
    img(src="@@buildDir/images/about-graphics_01b.png", alt="Game being played")

  section.col3rds
    p Our patented technology will decode your dominant personality traits, short-term cognitive processes, and your emotions.
    img(src="@@buildDir/images/about-graphics_02b.png", alt="Personality Badges")

  section.col3rds
    p Based on your results, we can help empower your self-improvement.
    img(src="@@buildDir/images/about-graphics_03b.png", alt="Self Improvement Map")

