
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block content
  .contentWrap
    h1.articleTitle= page.title
    .page
      != typogr(page.html).typogrify()

block prepend footer
  .nav.bottom
    a(href='/blog.html') « Blog

