

.footer
  p.muted
    &copy; #{ new Date().getFullYear() } #{ locals.owner }, Inc.
    &nbsp; &mdash; &nbsp;
    a(href='/toc.html') Terms &amp; Conditions
    &nbsp; &mdash; &nbsp;
    a(href='/privacy.html') Privacy Policy
