
.header
  .inner
    a(href='/')
      img(src="/@@buildDir/images/tidepool.png", alt=locals.name+" Logo", title=locals.name)

    a.navItem(href='/') Home
    a.navItem(href='/about.html') About


    .socialLinks
      a.socialLink(href='https://www.facebook.com/TidePoolInc', target="_blank")
        i.gfx-facebook
      a.socialLink(href='https://twitter.com/tidepool_co', target="_blank")
        i.gfx-twitter

