extends layout

block append vars
  - bodyclass = 'jobsPage'

block content
  style
    #header {
      margin:0;
      position: relative;
      height: 355px;
      text-align:center;
      background-image: url(@@buildDir/images/jobs-headerimage.jpg);
      background-repeat: no-repeat;
      background-size:cover;
    }
    #headerTitle {
      position:absolute;
      left:0;
      right:0;
      z-index:1;
      font-size: 5em;
      color: white;
      top:110px; 
    }
    #mission {
      text-align: center;
      font-size: 2.5em;
      background-color: white;
      padding:50px;
    }
    #role {
      background-color: #f2f2f2;
      padding-left:5%;
      padding-right:5%;
      padding-top:30px;
      padding-bottom:30px;
    }
    #roleTitle { 
      font-size: 2em;
    }
    #roleFooter { 
    }
    #roleDescription { 
      padding-top: 30px;
    }
    body {
      background: white;
    }
    p {
    margin:0;
    }
    .muted {
      background-color:white;
    }
    .footer{
      padding-left: 0;
    }
    #subtitle {
    font-size:150%;
    }
  #header
    #headerTitle
      p JOBS
  #mission
    p By helping people discover and leverage their innate strengths, we hope to transform the way the world works.
  #role
    #roleTitle
      p Company Profile
    #roleDescription
      p TidePool is a Quantified Self platform that focuses on Brain fitness. Using patented games and data collected implicitly on mobile, we help you understand how your personality, cognitive thinking and mood influence your daily performance. You can even link Tidepool to sensor devices like Fitbit. We are among the final 30 companies selected to launch our initial pilot at TechCrunch recently.We are a lean team including successful start up founders and scientists with domain expertise in Gaming and Neuro-Psychology. We are backed and supported by some very well respected investors like RedPoint Ventures (Geoff Yang), Michael Dearing, Mike Hirshland, Tim Draper and such. As a team we believe in the culture of freedom and responsibility. At TidePool, you'll find us working in a fast paced agile environment where each member has a voice in feature decisions, architecture, and visual design. You'll never stop learning here and we are at a size where every bit of your work directly shapes the company each day. We're located in the beautiful San Francisco (near South Park and AT&T ball park), offering great health benefits, gym memberships, flexible vacation and work hours, public transportation subsidies, and lots of food on hand. We are willing to fly you in for interviews and even relocate you to the sunny side. Life is what you make it and TidePool is offering you a brand new way to negotiate yours… Join us and be a part of the change that you’d like to see in the world!
      p 
  #role
    #roleTitle
      p Mobile Developer – iOS
    #roleDescription
      p We are looking for a strong software engineer experienced in building iOS applications, especially games.
    #roleResponsibilities
      #subtitle Responsibilities
      ul
        li Define and deliver applications that demonstrate the future of Quantified Self revolution on mobile devices
        li Develop fun mini iOS games and applications that challenge users’cognitive functions and give insights about the way their brains work.
        li Build snazzy animations and push iOS 7 capabilities to its limits to give the best user experience. We are shooting for not just being featured in the app store, but also win the best application award for 2014.
    #roleRequirements
    #subtitle Requirements
    ul
      li BS, MS or PhD in Computer Science or related technical discipline (or equivalent).
      li Extensive programming experience in native iOS development – Objective-C and Cocoa. Ideally you used a game engine like Cocos2d (or perhaps even SpriteKit)
      li Worked on atleast 2 iOS/ Mac apps and published apps out to the App Store.
      li A solid foundation in computer science, with strong competencies in data structures, algorithms and software design.
      li Strong Object Oriented skills preferred.
      li Strong product/design/UX sense
    #roleRequirements
      #subtitle Personal Characteristics
      ul
        li Action-oriented: Your style is characterized by urgency, focus and discipline.You are assertive, honest, takes charge yet gracious and collaborative.
        li Self-starter: You are comfortable working in a rapidly changing environment with limited resources and ad-hoc processes.
        li Work Ethic/ Integrity: An outstanding work ethic, high integrity and winner’s attitude.
    #applying
    #subtitle Applying
    ul
      li Your Github/Bitbucket account.
      li Your resume (or LinkedIn) and/or blog.
      li Link to your portfolio of games/apps.
    #applying
    #subtitle Contact
    p Email <a href="vamsee@tidepool.co">Vamsee Nalamothu</a>
    p Phone 408 839 9111
    